<!-- - - - - - - - - - pagination - - - - - - - - - -->
<ul class="pagination">
    <a href="#" class="pagination__prev"></a>
    <li class="pagination-el">
        <a href="#" class="pagination-el__link">1</a>
    </li>
    <li class="pagination-el">
        <a href="#" class="pagination-el__link">2</a>
    </li>
    <li class="pagination-el  active">
        <a href="#" class="pagination-el__link">3</a>
    </li>
    <li class="pagination-el">
        <a href="#" class="pagination-el__link">4</a>
    </li>
    <a href="#" class="pagination__next"></a>
</ul>
<!-- /pagination -->